* {
    font-family: Arial, 'sans-serif';
}

body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, tomato, orange);
}

.form {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-content {
    position: relative;
    padding: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.form-content span {
    position: absolute;
    top: 50%;
    left: 1.4rem;
    transform: translateY(-50%);
    display: block;
    transition: 0.3s ease;
    background-color: #fff;
}

.form-content input {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    border-bottom: thin solid tomato;
}

.cross {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.cross-preshoot {
    transform: rotate(360deg);
}

button {
    border: none;
    color: white;
    background-color: tomato;
    padding: 1em;
    width: 100%;
    outline: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.span-preshoot span {
    top: 0!important;
}

.btn-preshoot {
    height: 70px!important;
}

.card-preshoot {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    transition: 0.3s ease;
    color: #000;
    cursor: pointer;
}

h1::after {
    content: "";
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: lightskyblue;
    margin: auto;
    transition: 0.3s ease;
}

.title-preshoot h1 {
    color: lightskyblue;
}

.title-preshoot h1::after {
    width: 40%;
}